<% include partials/header %>

<main>
    <header>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-8 m-auto">

                    <div class="header-content">
                        <div class="header-text">
                            <h1>Dashboard</h1>
                            <p>Welcome to the user dashboard.</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
</main>

<% include partials/footer %>
