<% include partials/header %>

<main>
    <header>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-8 m-auto">

                    <div class="header-content">
                        <div class="header-text">
                            <h1>User Authentication system</h1>
                            <p>This is a User Authentication (Register, Login and Logout) System built with <strong>ExpressJS framework</strong>, <strong>EJS templating engine</strong> with <strong>mongoose, passport, passport-local, passport-local-mongoose and body-parser</strong> modules.</p>
                            <p>Use freely as you so wish.</p>
                            <a href="/user/register" class="btn btn-dark">User Register</a>
                            <a href="/user/login" class="btn btn-success">User Login</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
</main>

<% include partials/footer %>
